<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reservación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input placeholder="Ingresar nombre" [(ngModel)]="reservations.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Télefono</ion-label>
      <ion-input placeholder="Ingresar el número de Teléfono" [(ngModel)]="reservations.phone"></ion-input>
    </ion-item>
    <!-- Datetime -->
    <ion-item id="open-modal-in">
      <ion-icon icon="calendar-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Fecha de llegada</ion-label>
      <ion-text slot="end">{{dateInValue}}</ion-text>
    </ion-item>
    <!-- Modal -->
    <ion-modal trigger="open-modal-in" mode="md">
      <ng-template>
        <ion-content>
          <ion-datetime #datetimeIn size="cover" presentation="date" displayFormat="MM/DD/YYYY" [min]="dateInLimit"
            max="2030-12-09" [value]="dateInValue" (ionChange)="dateChangedIn(datetimeIn.value)"
            showDefaultButtons="true" (ionCancel)="showPickerIn=false;" [(ngModel)]="reservations.fIn">
          </ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>

    <!-- DateTime -->
    <ion-item id="open-modal-out">
      <ion-icon icon="calendar-outline" slot="start" color="primary"></ion-icon>
      <ion-label>Fecha de salida</ion-label>
      <ion-text slot="end">{{dateOutValue}}</ion-text>
    </ion-item>
    <!-- Modal -->
    <ion-modal trigger="open-modal-out" mode="md">
      <ng-template>
        <ion-content>
          <ion-datetime #datetimeOut size="cover" presentation="date" displayFormat="MM/DD/YYYY" [min]="dateOutLimit"
            max="2030-12-09" [value]="dateOutValue" (ionChange)="dateChangedOut(datetimeOut.value)"
            showDefaultButtons="true" (ionCancel)="showPickerOut=false;" [(ngModel)]="reservations.fOut">
          </ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>
    <ion-list>
      <ion-item>
        <ion-label position="floating">habitación</ion-label>
        <ion-select [(ngModel)]="reservations.room" placeholder="Selecciona una habitación">
          <ion-select-option *ngFor="let item of rooms; let i=index" [value]="item">{{item}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-button slot="end" (click)="addReservation()" expand="block" fill="clear" shape="round">
      Agregar Reservación
    </ion-button>

    <ion-button *ngIf="showToken" href="{{getUrl()}}">
      Enviar Token
    </ion-button>
  </ion-card>
</ion-content>