<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="reglamento">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Reglamento</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ingreso">
      <ion-icon name="easel-outline"></ion-icon>
      <ion-label>Ingreso</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="otros">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Recomendaciones</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>