<ion-header>
  <ion-toolbar>
    <ion-title>Recomendaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true" class="ion-padding">
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>Actividades</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card>
          <img alt="massage" src="https://s3.amazonaws.com/busites_www/mvillehotel/images/activities-hotel-massage.jpg" />
          <ion-card-header>
            <ion-card-title>Masajes</ion-card-title>
            <ion-card-subtitle>Bienestar</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Haga que su estadía sea más relajante con un masaje de un terapeuta licenciado experimentado.
            Correo: manitos@gmail.com
          </ion-card-content>
        </ion-card>
        
        <ion-card>
          <img alt="massage" src="https://cdn2.apstatic.com/photos/mtb/7026588_smallMed_1555004796.jpg" />
          <ion-card-header>
            <ion-card-title>Alquiler de bicicletas</ion-card-title>
            <ion-card-subtitle>Bienestar</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            explora y recorre la laguna en bicicleta! Los huéspedes pueden reservar su bicicleta en la recepción de 7:00 a. m. a 7:00 p. m. diariamente.
          </ion-card-content>
        </ion-card>
        
        <ion-card>
          <img alt="massage" src="https://s3.amazonaws.com/busites_www/mvillehotel/images/activities-hotel-adventure.jpg" />
          <ion-card-header>
            <ion-card-title>Actividades de aventura</ion-card-title>
            <ion-card-subtitle>Ocio</ion-card-subtitle>
          </ion-card-header>
          
          <ion-card-content>
            ¡Añade un poco de aventura a tu estancia con una de nuestras actividades de aventura! ¡Elija entre Snorkeling, viajes de pesca, kayak, buceo y más!
            <p>Envíe un correo electrónico a manitos@gmail.com para mas informacion. Se requiere reserva previa.</p>
          </ion-card-content>
        </ion-card>
        
        <ion-card>
          <img alt="massage" src="https://s3.amazonaws.com/busites_www/mvillehotel/images/activities-entertainment-events.jpg" />
          <ion-card-header>
            <ion-card-title>Entretenimiento y eventos</ion-card-title>
            <ion-card-subtitle>Ocio</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Desde degustaciones de margaritas en el lobby, tambores y música en vivo, eventos especiales en el área local y más, obtenga toda la información más reciente en nuestro Calendario de entretenimiento.
          </ion-card-content>
        </ion-card>
        
        <ion-card>
          <img alt="massage" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/15/47/0b/1a/view-of-lake-from-mirador.jpg?w=1200&h=-1&s=1" />
          <ion-card-header>
            <ion-card-title>Laguna</ion-card-title>
            <ion-card-subtitle>Ocio</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            ¡Únase a nosotros para disfrutar de excelente comida, bebidas y una variedad de actividades en nuestra laguna, que incluyen lanzamiento de anillos, área de juegos para niños, mesas de picnic, voleibol, relajarse en una hamaca y más! Abierto al público.
            <p>¡Envíe un correo electrónico a manitos@gmail.com para consultas!</p>
          </ion-card-content>
        </ion-card>
      </div>
      
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>Recomendaciones</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card>
          <img alt="massage" src="https://gentenayarit.com/wp-content/uploads/2019/02/1509224_10151966455308883_21439960_n-e1550564940453.jpg" />
          <ion-card-header>
            <ion-card-title>Cascada de la Silla</ion-card-title>
            <ion-card-subtitle>Naturaleza</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Una impresionante formación natural, que te regala fotografías increíbles y una rica brisa que refresca en el calor del verano.
          </ion-card-content>
        </ion-card>
        
        <ion-card>
          <img alt="massage" src="https://mapio.net/images-p/8512823.jpg" />
          <ion-card-header>
            <ion-card-title>Templo del Señor de la Asención</ion-card-title>
            <ion-card-subtitle>Cultura</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Iglesia Catolica del Señor de la ascencion
          </ion-card-content>
        </ion-card>
        
        <ion-card>
          <img alt="massage" src="http://expedicionss.weebly.com/uploads/1/3/9/3/13931018/7896722.jpg" />
          <ion-card-header>
            <ion-card-title>Ruinas de la Hacienda San José Mojarras</ion-card-title>
            <ion-card-subtitle>Cultura</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            
            Esta hacienda en su tiempo fue muy importante para la comunidad ya que dentro de la misma se encuentra una fábrica de alcohol y del ingenio
            , lo cual hace resaltar la historia que se efectúa dentro de los restos de la hacienda
          </ion-card-content>
        </ion-card>
      </div>
    </ion-accordion>
    
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>Historia</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card>
          <img alt="lake" src="https://www.mexicodesconocido.com.mx/wp-content/uploads/2021/08/RemoteMediaFile_6553916_0_2021_08_16_11_48_44-900x506.jpg" />
          <ion-card-header>
            <ion-card-title>Laguna de Santa Maria del oro</ion-card-title>
            <ion-card-subtitle>Historia</ion-card-subtitle>
          </ion-card-header>
          
          <ion-card-content>
            La laguna mide casi 2.25 kilómetros de largo y 1.2 kilómetros de ancho. La formación de ésta se debe a un cráter 
            creado por el impacto de un meteorito hace millones de años, dándole a la laguna una profundidad de 60 metros.
            <p>Una leyenda de desamor rodea este bello lugar. Se dice que el rey de Michiztlán, un poblado antiguo, tenía 
              una hija hermosa. Ésta se enamoró de un hombre que formaba parte de un pueblo enemigo.
              El rey, al enterarse de esto, enfureció y mandó amarrar a ambos jóvenes a distintos 
              postes cerca del cráter donde se encuentra la laguna. Al verse el uno al otro, pero sin poderse tocar, 
              lloraron toda la noche hasta que sus lágrimas formaron la laguna.</p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      
      <ion-accordion value="fourth">
        <ion-item slot="header" color="light">
          <ion-label>Numeros de emergencia</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Emergencias #911</ion-card-title>
            </ion-card-header>
            
            <ion-card-content>
              El 9-1-1 es el número telefónico de atención de emergencias para seguridad, protección civil, servicios de salud y cuerpo de bomberos en beneficio de las y los habitantes.
            </ion-card-content>
          </ion-card>
          
          <ion-card>
            <ion-card-header>
              <ion-card-title>Protección Civil <p>#55-51-28-00-00</p>
              </ion-card-title>
            </ion-card-header>
            
            <ion-card-content>
              Este servicio existe para salvaguardar la integridad de la población ante emergencias o desastres que ocasionen daños a la infraestructura urbana, es parte de las estrategias del Gobierno de la Ciudad de México para implementar acciones de prevención, mitigación, auxilio, rehabilitación, restablecimiento y reconstrucción que refuercen una cultura de la prevención.
            </ion-card-content>
          </ion-card>
          
          <ion-card>
            <ion-card-header>
              <ion-card-title>Emergencias</ion-card-title>
              <ion-card-subtitle>Otros</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-label>Cruz Roja 
                    <p>#55 53 95 11 11</p></ion-label>
                  </ion-item>
                  
                  <ion-item>
                    <ion-label>Policía Federal
                      <p>#088</p></ion-label>
                    </ion-item>
                    
                    <ion-item>
                      <ion-label>Incendios Forestales	
                        <p>#800 46 23 63 46</p></ion-label>
                      </ion-item>
                    </ion-list>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-content>
        