<ion-header>
  <ion-toolbar>
    <ion-title>{{textC.title}}</ion-title>
  </ion-toolbar>
  <ion-row>
    <ion-col>
      <ion-button class="ion-float-right" (click)="selectLang()"><ion-icon name="language-outline"></ion-icon></ion-button>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content  [fullscreen]="true" class="ion-padding">
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>{{textC.acc1}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card>
          <img alt="massage" src="https://s3.amazonaws.com/busites_www/mvillehotel/images/activities-hotel-massage.jpg" />
          <ion-card-header>
            <ion-card-title>{{textC.act1}}</ion-card-title>
            <ion-card-subtitle>{{textC.act2}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{textC.act3}}
          </ion-card-content>
        </ion-card>
        
        <ion-card>
          <img alt="massage" src="https://cdn2.apstatic.com/photos/mtb/7026588_smallMed_1555004796.jpg" />
          <ion-card-header>
            <ion-card-title>{{textC.rec1}}</ion-card-title>
            <ion-card-subtitle>{{textC.act2}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{textC.rec2}}
          </ion-card-content>
        </ion-card>
        
        <ion-card>
          <img alt="massage" src="https://s3.amazonaws.com/busites_www/mvillehotel/images/activities-hotel-adventure.jpg" />
          <ion-card-header>
            <ion-card-title>{{textC.ad}}</ion-card-title>
            <ion-card-subtitle>{{textC.ad1}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{textC.ad2}}
            <p>{{textC.mail}}</p>
          </ion-card-content>
        </ion-card>
        
        <ion-card>
          <img alt="massage" src="https://s3.amazonaws.com/busites_www/mvillehotel/images/activities-entertainment-events.jpg" />
          <ion-card-header>
            <ion-card-title>{{textC.ent}}</ion-card-title>
            <ion-card-subtitle>{{textC.ad1}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{textC.ent1}}
          </ion-card-content>
        </ion-card>
        
        <ion-card>
          <img alt="massage" src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/15/47/0b/1a/view-of-lake-from-mirador.jpg?w=1200&h=-1&s=1" />
          <ion-card-header>
            <ion-card-title>{{textC.lag}}</ion-card-title>
            <ion-card-subtitle>{{textC.ad1}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{textC.lag1}}
            <p>{{textC.lag2}}</p>
          </ion-card-content>
        </ion-card>
      </div>
      
    </ion-accordion>
    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>{{textC.acc2}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card>
          <img alt="massage" src="https://gentenayarit.com/wp-content/uploads/2019/02/1509224_10151966455308883_21439960_n-e1550564940453.jpg" />
          <ion-card-header>
            <ion-card-title>{{textC.casc}}</ion-card-title>
            <ion-card-subtitle>{{textC.casc1}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
              {{textC.casc2}}
          </ion-card-content>
        </ion-card>
        
        <ion-card>
          <img alt="massage" src="https://mapio.net/images-p/8512823.jpg" />
          <ion-card-header>
            <ion-card-title>{{textC.temp}}</ion-card-title>
            <ion-card-subtitle>{{textC.temp1}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{textC.temp2}}
          </ion-card-content>
        </ion-card>
        
        <ion-card>
          <img alt="massage" src="http://expedicionss.weebly.com/uploads/1/3/9/3/13931018/7896722.jpg" />
          <ion-card-header>
            <ion-card-title>{{textC.moj}}</ion-card-title>
            <ion-card-subtitle>{{textC.temp1}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>  
            {{textC.moj1}}
          </ion-card-content>
        </ion-card>
      </div>
    </ion-accordion>
    
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>{{textC.acc3}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-card>
          <img alt="lake" src="https://www.mexicodesconocido.com.mx/wp-content/uploads/2021/08/RemoteMediaFile_6553916_0_2021_08_16_11_48_44-900x506.jpg" />
          <ion-card-header>
            <ion-card-title>{{textC.lagS}}</ion-card-title>
            <ion-card-subtitle>{{textC.acc3}}</ion-card-subtitle>
          </ion-card-header>
          
          <ion-card-content>
            {{textC.lagS1}}
            <p>{{textC.lagS2}}</p>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-accordion>
      
      <ion-accordion value="fourth">
        <ion-item slot="header" color="light">
          <ion-label>{{textC.acc4}}</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{textC.num}}</ion-card-title>
            </ion-card-header>
            
            <ion-card-content>
              {{textC.num1}}
            </ion-card-content>
          </ion-card>
          
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{textC.num3}} <p>#55-51-28-00-00</p>
              </ion-card-title>
            </ion-card-header>
            
            <ion-card-content>
              {{textC.num4}}
            </ion-card-content>
          </ion-card>
          
          <ion-card>
            <ion-card-header>
              <ion-card-title>{{textC.num5}}</ion-card-title>
              <ion-card-subtitle>{{textC.num6}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item>
                  <ion-label>{{textC.num7}}
                    <p>#55 53 95 11 11</p></ion-label>
                  </ion-item>
                  
                  <ion-item>
                    <ion-label>{{textC.num8}}
                      <p>#088</p></ion-label>
                    </ion-item>
                    
                    <ion-item>
                      <ion-label>{{textC.num9}}
                        <p>#800 46 23 63 46</p></ion-label>
                      </ion-item>
                    </ion-list>
                  </ion-card-content>
                </ion-card>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-content>
        