<ion-header>
  <ion-toolbar>
    <ion-title>{{textC.title}}</ion-title>
  </ion-toolbar>
  <ion-row>
    <ion-col>
      <ion-button class="ion-float-right" (click)="selectLang()"><ion-icon name="language-outline"></ion-icon></ion-button>
    </ion-col>
  </ion-row>
</ion-header>

<ion-content  [fullscreen]="true" class="ion-padding">
  <ion-accordion-group>
    <ion-accordion value="first">
      <ion-item slot="header" color="light">
        <ion-label>{{textC.ubicacion}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
          <img alt="location" src="/assets/icon/ubi1.png" />
          <img alt="location" src="/assets/icon/ubi2.png" />
          <img alt="location" src="/assets/icon/ubi3.png" />
      </div>
    </ion-accordion>

    <ion-accordion value="second">
      <ion-item slot="header" color="light">
        <ion-label>{{textC.checkUbi}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <img alt="location" src="/assets/icon/ubi4.png" />
      </div>
    </ion-accordion>
    <ion-accordion value="third">
      <ion-item slot="header" color="light">
        <ion-label>{{textC.pass}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        {{safePass()}}
      </div>
    </ion-accordion>
          </ion-accordion-group>
          <ion-row>
            <ion-col>
              <ion-button (click)="logout()">Cerrar sesion</ion-button>
            </ion-col>
          </ion-row>
        </ion-content>
        